@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Raleway:wght@300;400&family=Roboto+Mono&family=Roboto:wght@300;400&family=Russo+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}

/*---------------nav bar------------*/
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background: #78bae7;
  color: #263238;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.nav-name {
  display: block;
  font-weight: bold;
}

.navBar {
  display: block;
  position: fixed;
}

a {
  text-decoration: none;
  color: #ecf3f5;
  font-weight: bold;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #000000; */
  background: linear-gradient(to left, #0868a7, #0a335d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  width: 100%;
  height: 3.125rem;
  padding: 1rem;
  position: fixed;
  z-index: 5;
  border: 1px solid white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 0.25rem;
  width: 1.875rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 0.125rem;
}

.menu-button::before {
  content: '';
  margin-top: -0.5rem;
}

.menu-button::after {
  content: '';
  margin-top: 0.5rem;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* charactes css */

@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #CFD8DC;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/*------------body------------ */

.main_body {
  display: block;
  padding-top: 3.125rem;
  background-color: #a0d1f7;
  color: #263238;

}

#anime-details {
  border: 1.5625rem solid #05285d;
  margin: 0.625rem;
  padding: 1.25rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-image: radial-gradient(circle, #78bae7, rgba(13, 122, 172, 0.744), #78bae7);
}

.animecard {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-items: center;
  flex-direction: row;
  /* grid-template-columns: 1fr 1.5fr; */
  padding: 1.875rem;
  gap: 0.625rem;
}

.animecard>img {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.404);
  border-radius: 0.25rem;
  width: 30%;
  height: auto;
}

.animecard>.detaildiv {
  width: 100%;
  height: auto;
  align-self: baseline;
  justify-self: baseline;
  padding: 3.125rem 2.5rem;
  text-align: start;
}

.animecard>.detaildiv>h1 {
  font-size: 2.5rem;
  text-decoration: underline;
  text-decoration-color: #093f8f;
  margin-bottom: 1.25rem;
}

.animecard>.detaildiv>h3 {
  font-size: larger;
  font-family: 'Roboto', sans-serif;
  /* margin: auto; */
  /* align-self: flex-end; */
}

.anime-synopsis {
  font-size: larger;
  padding-top: 2rem;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.more {
  align-self: start;
  font-size: 1rem;
  font-weight: 500;
}

.more::before {
  content: 'Show More';
  cursor: pointer;
}

.morecontainer.active>.anime-synopsis {
  display: block;
}

.morecontainer.active .more::before {
  content: 'Show Less';
}

@media screen and (max-width:768px) {
  .animecard {
    flex-direction: column;
  }
  .animecard>.detaildiv {
    text-align: center;
    padding: 0;
  }
  .animecard>img {
    width: 50%;
  }
}
@media screen and (max-width:425px) {
  .animecard>img {
    width: 100%;
  }
}


/* character galllery */

#list-container {
  border: 1.5625rem solid #05285d;
  margin: 0.625rem;
  border-radius: 0.5rem;
  /* justify-content: space-around;
  flex-wrap: wrap; */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding: 2rem;
  background: radial-gradient(circle, #cae3f4, rgba(13, 122, 172, 0.744));
}

#character-container {
  max-height: 30rem;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.expand::before {
  content: url(expand.png);
  cursor: pointer;
}

.expand {
  background-color: #9fd1f2;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  box-shadow: 0.0625rem 0.0625rem 0.3125rem black;
}

#list-container.active>#character-container {
  max-height: max-content;
}

#list-container.active .expand::before {
  content: url(collapse.png);
}

#character-list {
  border-radius: 0.3125rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 1.875rem;
}

#character-list li {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-around;
  align-items: center;
  border: 2px solid #d7d7dc;
  margin: 0.625rem;
  border-radius: 0.3125rem;
  padding: 1.25rem;
  font-family: 'Roboto Mono', monospace;
  font-size: 1.25rem;
  font-weight: 600;
  background-color: #d1d4d4;
  box-shadow: 0.125rem 0.1875rem 0.5rem rgba(0, 0, 0, 0.645);
}

#character-list li:hover {
  background-color: #88b6db;
  box-shadow: 0.125rem 0.125rem 0.625rem black;
  cursor: pointer;

}

.character_name {
  text-transform: uppercase;
  text-decoration: underline;
  font-size: 2.5rem;
  font-weight: 550;
  text-align: center;
  font-family: 'Russo One', sans-serif;
  margin-top: 1.25rem;
}

.span {
  font-size: larger;
  text-align: center;
  margin-top: 0.5625rem;
}

li img {
  border-radius: 0.3125rem;
  background-color: transparent;
  /* mix-blend-mode: multiply; */
}

@media screen and (max-width:1440px) {
  #character-container {
    max-height: 22rem;
  }
}
@media screen and (max-width:1024px) {
  #character-container {
    max-height: 30rem;
  }
}
@media screen and (max-width:768px) {
  #character-container {
    max-height: 31rem;
  }
}
@media screen and (max-width:600px) {
  #character-container {
    max-height: 32rem;
  }
}
@media screen and (max-width:425px) {
  #character-container {
    max-height: 31rem;
  }
}

/* scrollbar */


::-webkit-scrollbar {
  width: 0.001px;
  border-radius: 5px
}

::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 5px
}

::-webkit-scrollbar-thumb {
  background: #e2e2e2;
  border-radius: 5px
}

::-webkit-scrollbar-thumb:hover {
  background: #263238;
  border-radius: 5px
}



.loader-bg {
  position: fixed;
  z-index: 999999;
  background: #fff;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  border: 0 solid transparent;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute;
  top: calc(50vh-75px);
  left: calc(50vw-75px);

  justify-content: center;
  align-items: center;
}

.loader:before,
.loader:after {
  content: '';
  border: 1em solid #678aec;
  border-radius: 50%;
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  animation: loader 2s linear infinite;
  opacity: 0;
}

.loader:before {
  animation-delay: .5s;
}

@keyframes loader {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.buttons-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


#reviewsContainer {
  display: flex;
  border: 1.5625rem solid #05285d;
  margin: 0.625rem;
  border-radius: 0.5rem;
  flex-direction: column;
  padding-left: 1.25rem;
  background-image: radial-gradient(circle, #a5d0ed, rgba(13, 122, 172, 0.744));
}


@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,500,300,700);

* {
  font-family: Open Sans;
}



.footer-distributed {
  background-image: radial-gradient(circle, #78bae7, rgba(13, 122, 172, 0.744), #78bae7);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 1rem sans-serif;
  padding: 1.5rem 3.125rem;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 40%;
}

/* The company logo */

.footer-distributed h3 {
  color: #ffffff;
  font: normal 2.25rem 'Open Sans', cursive;
  margin: 0;
}

.footer-distributed h3 span {
  color: rgb(5, 250, 74);
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 1.25rem 0 0.75rem;
  font: 1rem sans-serif;
  padding: 0;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  font-weight: 400;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #222;
  font-size: 1.275rem;
  font-weight: normal;
  margin: 0;
}

.footer-company-name {
  text-align: center;
}


/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #33383b;
  color: #ffffff;
  font-size: 1.5625rem;
  width: 2.3625rem;
  height: 2.3625rem;
  border-radius: 50%;
  text-align: center;
  line-height: 2.625rem;
  margin: 0.625rem 0.9375rem;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 1.0625rem;
  line-height: 2.3625rem;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  font-weight: 400;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: rgb(247, 251, 251);
  text-decoration: none;
  ;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight: 300;
  font-size: 1.25rem;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 0.3125rem;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 20%;
}

.footer-distributed .footer-company-about {
  line-height: 1.25rem;
  color: #eff4f8;
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 0.875rem;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.7rem;
}

.footer-distributed .footer-icons {
  margin-top: 1.5625rem;
  margin-bottom: 1.2625rem;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 2.24rem;
  height: 2.24rem;
  cursor: pointer;
  background-color: #33383b;
  border-radius: 0.125rem;

  font-size: 1.25rem;
  color: #ffffff;
  text-align: center;
  line-height: 2.24rem;

  margin-right: 0.215rem;
  margin-bottom: 0.3125rem;
}

/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 800px) {

  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: block;
    width: 100%;
    margin-bottom: 0.25em;
    text-align: center;
  }

  .footer-distributed .footer-center i {
    margin-left: 0;
  }

}


/* overall media query */

@media screen and (max-width:1440px) {
  html {
    font-size: 130%;
  }
}

@media screen and (max-width:1024px) {
  html {
    font-size: 100%;
  }
}

@media screen and (max-width:768px) {
  html {
    font-size: 88%;
  }
}

@media screen and (max-width:600px) {
  html {
    font-size: 84%;
  }
}

@media screen and (max-width:426px) {
  html {
    font-size: 80%;
  }
}

/* @media screen and (max-width:375px) {
  html {
    font-size: 65%;
  }
} */

/* @media screen and (max-width:320px) {
  html {
    font-size: 60%;
  }
} */