@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Raleway:wght@300;400&family=Roboto+Mono&family=Roboto:wght@300;400&family=Russo+One&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  /* width: 100vw; */
  overflow-x: hidden;
  

}

/*--back to top function--*/

#backtotop {
  display: none;
  position: fixed;
  bottom: 1.45rem;
  right: 2.2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #030303;
  cursor: pointer;
  padding: 0.2rem;
  border-radius: 50%;
  visibility: hidden;
  opacity: 0;
  transition: background-color .3s,opacity .5s, visibility .5s;
}
#backtotop:hover {
  background-color: #333;
}
#backtotop.show {
  opacity: 1;
  visibility: visible;
}

#backtotop>img {
  width: 2.5rem;
  height: 2.5rem;
  filter: invert(96%) sepia(0%) saturate(152%) hue-rotate(277deg) brightness(115%) contrast(100%);
}

/*---------------nav bar------------*/
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #c7d6ee;
  color: #263238;

}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.nav-name {
  display: block;
  font-weight: bold;
}

.navBar {
  display: block;
  position: fixed;
}

a {
  text-decoration: none;
  color: #ecf3f5;
  font-weight: bold;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #000000; */
  background: linear-gradient(to left, #0868a7, #0a335d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 3.125rem;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 5;
  border: .0625rem solid white;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 1.875rem;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: .25rem;
  width: 1.875rem;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: .125rem;
}

.menu-button::before {
  content: '';
  margin-top: -0.5rem;
}

.menu-button::after {
  content: '';
  margin-top: .5rem;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0rem;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0rem;
  transform: rotate(-405deg);
}

/* scrollbar */


::-webkit-scrollbar {
    width: .0001rem;
    border-radius: .3125rem
  }
  
  ::-webkit-scrollbar-track {
    background: transparent;
    border-radius: .3125rem
  }
  
  ::-webkit-scrollbar-thumb {
    background: #b0bec5;
    border-radius: .3125rem
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #263238;
    border-radius: .3125rem
  }

  /* body */
#imageContainer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  gap: 2.2rem;
  padding: 1rem;
  padding-top: 3.8rem;
}
.container{
  border: 0.5rem solid #0a335d;
  margin-left: 1.8rem;
  margin-right: 1.8rem;
}

img{
  border-radius: .625rem;
  display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-around;
    align-items: center;
    border: .125rem solid #d7d7dc;
    margin: .625rem;
    border-radius: .3125rem;
    padding: .625rem;
  

}
@media (max-width: 768px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 3.125rem;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: .0625rem solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #CFD8DC;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: .0625rem solid #444;
  }
  #imageContainer{
    display: flex;
    flex-direction: row;
    padding: 1rem;
    flex-wrap: wrap;
  }
  img{
  width: 45%;
  height: auto;
  
  }
}
#trailer-container{
  text-align: center;
  padding-top: 5.25rem;
}
#result-container{
  text-align: center;
}

.centered-video {
  width: 50rem;
  height: 28.125rem;
  display: block;
  margin: 0 auto;
}



/* overall media query */

@media screen and (max-width:768px) {
  html {
    font-size: 80%;
  }
  .centered-video {
   width: 100%;
  }
}

@media screen and (max-width:600px) {
  html {
    font-size: 75%;
  }
}

@media screen and (max-width:426px) {
  html {
    font-size: 60%;
  }

  img{
    width: 40%;
    height: auto;
    
    }
}

/* @media screen and (max-width:375px) {
  html {
    font-size: 65%;
  }
} */

/* @media screen and (max-width:320px) {
  html {
    font-size: 60%;
  }
} */