@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;1,500&family=Raleway:wght@300;400&family=Roboto+Mono&family=Roboto:wght@300;400&family=Russo+One&display=swap');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;

}

/*---------------nav bar------------*/
/* @import url(https://fonts.googleapis.com/css?family=Raleway); */

h2 {
  vertical-align: center;
  text-align: center;
}

html,
body {
  margin: 0;
  height: 100%;
  background-color: #c7d6ee;
  color: #263238;
}

* {
  font-family: "Raleway";
  box-sizing: border-box;
}

.nav-name {
  display: block;
  font-weight: bold;
}

.navBar {
  display: block;
  position: fixed;
}

a {
  text-decoration: none;
  color: #ecf3f5;
  font-weight: bold;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  /* background-color: #000000; */
  background: linear-gradient(to left, #0868a7, #0a335d);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #FFF;
  height: 50px;
  padding: 1em;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu>li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked+.menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked+.menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked+.menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

/* charactes css */

@media (max-width: 700px) {
  .menu-button-container {
    display: flex;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 99;
  }

  #menu-toggle~.menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked~.menu li {
    border: 1px solid #333;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu>li {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: #CFD8DC;
    background-color: #222;
  }

  .menu>li:not(:last-child) {
    border-bottom: 1px solid #444;
  }
}


/*-------------quiz-------------*/


body{
    background: url(https://getwallpapers.com/wallpaper/full/c/f/4/1244597-new-peaceful-anime-wallpaper-2560x1600-for-phone.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.top{
    margin:auto;
    padding-top: 100px ;
    padding-bottom: 30px;
    text-align: center;
    text-decoration:underline;
    color:  rgb(28, 28, 66);
    font-family:'Russo one', sans-serif ;
}

#question-container {
    text-align: center;
  }
  
  #question {
    margin-bottom: 20px;
  }
  
  #choices {
    list-style-type:none;
    padding: 0;
    margin: auto;
   
    cursor: pointer;
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
  }
  
  #choices li {
    width:40%;
    column-gap: 1rem;
    margin: auto;
    padding:10px;
    border-style: solid;
    border-radius: 5px;
    background-color:#FBFFDC ;
    font-family:Verdana, Geneva, Tahoma;
  }

  #choices li:hover{
    color:rgb(83, 133, 165);
  }
  
  #result-message {
    margin-top: 20px;
    padding-bottom: 20px;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Russo One' , sans-serif;
  }
  
  #next-button {
    padding: 5px 10px;
    display: none;
    margin: auto;
    font-family: 'Montserrat',sans-serif;
    border-radius: 25px;
    font-size: 30px;
    background-color: #C0DBEA;
  }
  #next-button:hover{
    box-shadow: 2px 2px 10px black;
    cursor: pointer;
  }


  .loader-bg{
    position: fixed;
    z-index:999999;
    background: #fff;
    width:100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .loader{
    border:0 solid transparent;
    border-radius:50%;
    width:150px;
    height: 150px;
    position: absolute;
    top:calc(50vh-75px);
    left:calc(50vw-75px);
    
    justify-content: center;
    align-items: center;
  }
  
  .loader:before, .loader:after{
    content: '';
    border:1em solid #678aec;
    border-radius:50%;
    width:inherit;
    height: inherit;
    position:absolute;
    top:0;
    left:0;
    animation: loader 2s linear infinite;
    opacity:0;
  }
  
  .loader:before{
    animation-delay: .5s;
  }
  
  @keyframes loader{
    0%{
      transform:scale(0);
      opacity: 0;
    }
    50%{
      opacity: 1;
    }
    100%{
      transform:scale(1);
      opacity:0;
    }
  }