* {
  padding: 0;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
}

header {
  background-color: #262525;
  padding: 2rem;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.525);
  position: relative;
  z-index: 3;
}

h1 {
  color: whitesmoke;
  font-size: 3rem;
  text-align: center;
  text-shadow: 1px 2px 20px #ffe42f;
}

.anime-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 5px 20px 5px;
}

.anime-card {
  width: 200px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.645);
  z-index: 2;
}

.anime-image {
  width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.anime-title {
  font-weight: bold;
}

.anime-score {
  color: #888;
}

.anime-episodes {
  color: #888;
  font-size: 13px;
}

footer {
  text-align: center;
  padding: 30px;
  font-size: 1.5rem;
  background-color: #262525;
  color: whitesmoke;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.525);
  position: relative;
  z-index: 4;
}